.pointer{
    cursor: pointer;
}

/* some styling for pagination*/
.paginationBttns {
    list-style: none;
    width: 80%;
    display: flex;
    justify-content: center;
}

.paginationBttns a {
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: solid 1px #157347;
    color: #157347;
}

.paginationBttns a:hover {
    background: #157347;
    color: #fff !important;
}

.paginationActive a {
    background: #157347;
    color: #fff !important;
}